<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar sticky-top bg-light"style=>
        <div class="container-fluid" style="background-image: linear-gradient(to right, #e80303, #ca0105, #ac0006, #8f0105, #730101);height: 100px ;">
            <img src="static/images/inventorylogo.png" style="float: left;height: 80px;padding-top: 10px;">
          <a class="navbar-brand" href="#" style="padding-left:600px;font-family: 'Ubuntu', sans-serif;color:rgb(0, 217, 255);"><h1><b>MY INVENTORY</b></h1> </a>
        </div>
    </nav>

    <div class="btn-group btn-group-justified" >
        <a  class="btn btn-primary" style="background-color: black;"><b>INVENTORY</b></a>
    </div>
    
    <div>
        
        <table class="table table-striped table-dark">
            <thead style="background-color: blue;color:white">
              <tr>
                <th scope="col">PRODUCT_ID</th>
                <th scope="col">PRODUCT_NAME</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">PRICE</th>
              </tr>
            </thead>
            <tbody>
                {% for row in inventory %}
                <tr>
                    <td style="color: black;">{{row["PRODUCTID"]}}</td>
                    <td style="color: black;">{{row["PRODUCTNAME"]}}</td>
                    <td style="color: black;">{{row["QUANTITY"]}}</td>
                    <td style="color: black;">{{row["PRICE"]}}</td>
                    
                </tr>
                {% endfor %}
              
            </tbody>
          </table>
    </div>


</body>
</html>