<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
</head>

<body style="background-color:rgb(220, 208, 208)">
 
     <form class="form-horizontal" action="{{ url_for('add') }}" method="post"  >
     <fieldset>
      
      <!--<img src="static/images/customizelogo.png" style="float: left;height: 100px;padding-top: -10px;padding-left: 650;"-->
      <legend style="text-align:center;background-image: linear-gradient(to right, #000000, #040101, #070102, #0b0203, #0e0303);color:white"><h1> <b>CUSTOMIZE YOUR INVENTORY</b></h1></legend>
      <!-- <div class="container">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
               {% for msg in messages %}
                 <div class="alert alert-{{ msg }} alert-dismissible fade show" role="alert">
                   <span>{{ msg }}</span>
                   <button type="button" class="close" data-dismiss="alert" aria-label="close">
                     <span aria-hidden="ture">X</span>
                   </button>
                 </div>
                 
               {% endfor %}
           {% endif %}
        {% endwith %}
       </div> -->
      <!-- Text input-->
      <div class="form-group" style="padding-top: 100px;">
        <label class="col-md-4 control-label" for="product_id">PRODUCT ID</label>  
        <div class="col-md-4">
        <input id="product_id" name="product_id" placeholder="PRODUCT ID" class="form-control input-md" required="" type="text">
          
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
        <div class="col-md-4">
        <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
          
        </div>
      </div>
      
      
      <div class="form-group">
          <label class="col-md-4 control-label" for="product_name_fr">QUANTITY</label>  
          <div class="col-md-4">
          <input id="product_name_fr" name="quantity" placeholder="QUANTITY" class="form-control input-md" required="" type="text">
            
          </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name_fr">PRICE</label>  
        <div class="col-md-4">
        <input id="product_name_fr" name="price" placeholder="PRICE" class="form-control input-md" required="" type="text">
          
        </div>
     </div>
      
      
      
      
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4"style="padding-left: 190PX">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary"style="background-color:GREEN">ADD</button>
          
          
        </div>
      </div>
      
      
      
    </form>
    
    <form action="{{ url_for('delete') }}" method="POST" >
        <h3 style="text-align: center;font-family:'Ubuntu', sans-serif;color:black"><b> TO DELETE THE PRODUCT</b></h3>
        <div class="form-group">
          <label class="col-md-4 control-label" for="product_name">PRODUCT ID</label>  
          <div class="col-md-4">
          <input id="productid" name="productid" placeholder="productid" class="form-control input-md" required="" type="text">
            
          </div>
        </div>
        <div class="col-md-4"style="padding-left: 670PX">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary"style="background-color:RED">DELETE</button>
            
            
        </div>
    </form>
    <br>
    <br>
    <form action="{{ url_for('update') }}" method="POST" >
        <h3 style="text-align: center;font-family:'Ubuntu', sans-serif;color:black"><b> TO UPDATE THE PRODUCT</b></h3>
        <div class="form-group">
          <label class="col-md-4 control-label" for="product_name">PRODUCT ID</label>  
          <div class="col-md-4">
          <input id="product_name" name="productid" placeholder="productid" class="form-control input-md" required="" type="text">
            
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="product_name">QUANTITY</label>  
          <div class="col-md-4">
          <input id="product_name" name="quantity" placeholder="QUANTITY" class="form-control input-md" required="" type="number">
            
          </div>
        </div>
        <div class="col-md-4"style="padding-left: 670PX">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary" style="color: white;background-image: linear-gradient(to right top, #000000, #0f0b0a, #181310, #1d1a15, #20221a);">UPDATE</button>
        </div>
    <!--
    </form> -->
</form>
</fieldset>
</form>
    


</body>
</html>